html {
    scroll-padding-top: 92px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Italiana', cursive;
}

#wrapper {
    display: flex;
    width: 100vw;
}

#flag-green-box {
    width: 15%;
    background-color: #008C45;
}

#flag-white-box {
    width: 70%;
    padding-top: 70.5px;
}

#flag-red-box {
    width: 15%;
    background-color: #CD212A;
}

#header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 70%;
    background-color: white;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 0.5rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

#italy {
    padding: 5px 20px;
}

#logo a {
    font-size: 3em;
    font-weight: bold;
    margin-right: auto;
    font-family: 'Italianno', cursive;
    text-decoration: none;
    color: inherit;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

nav ul li {
    display: inline-block;
}

nav ul li#logo {
    font-size: 1.8em;
    color: black;
}

nav a {
    text-decoration: none;
    font-size: 1.3em;
    color: grey;
    font-weight: bold;
    padding: 5px 15px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #555;
    text-decoration: underline;
}

article {
    padding: 20px;
}

article h1 {
    font-size: 3rem;
    margin: 20px;
    font-family: 'Italiana', cursive;
    text-shadow: #aaa 2px 2px 4px;
}

article h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: #aaa 2px 2px 4px;
}

article p {
    font-size: 1.2em;
    line-height: 1.6;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    flex: 1;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    shape-outside: circle(50%);
}

.image-container p {
    margin: 20px;
    text-align: justify;
}

img {
    object-fit: cover;
    object-position: center;
}

.image-round {
    border-radius: 50%;
}

#einleitung {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.video {

}
 /* Pizza
        #pizzaContainer {
            position: relative;
            width: 400px;
            height: 400px;
            margin: auto;
        }

        #pizzaCanvas {
            border: 1px solid #d3d3d3;
        }

        .pizza-image {
            position: absolute;
            display: none;
            width: 150px;
            height: 150px;
            border: 2px solid #ddd;
            border-radius: 10px;
            background-color: white;
        }

        #image1 { top: 10px; left: -160px; }
        #image2 { top: 10px; right: -160px; }
        #image3 { bottom: 10px; left: -160px; }
        #image4 { bottom: 10px; right: -160px; }
        #image5 { top: 130px; right: -160px; }
*/

/* Bilderslider
.carousel {
    position: relative;
    width: 512px;
    height: 512px;
    margin: auto;
    overflow: hidden;
    background-color: #f3f3f3;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-inner img {
    width: 512px;
    height: 512px;
    object-fit: cover;
    flex-shrink: 0;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}
*/

.italy_button {
        background: linear-gradient(to right, #008C45 33%, #F4F5F0 33%, #F4F5F0 66%, #CD212A 66%);
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        font-weight: bold;
    }

    .italy_button:hover {
        opacity: 0.8;
    }

