/* Gloable Stile */
html {
  scroll-padding-top: 92px;
  scroll-behavior: smooth;
}

head,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Italiana", cursive;
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
}

/* Struktur-Elemente */
#wrapper {
  display: flex;
  width: 100vw;
}

#flag-green-box {
  width: 15%;
  background-color: #008c45;
}

#flag-white-box {
  width: 70%;
}

#flag-red-box {
  width: 15%;
  background-color: #cd212a;
}

#content {
  padding-inline: 40px;
  margin-top: 92px;
  margin-bottom: 40px;
}

/* Header und Navigation */
#header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 70%;
  left: 15%;
  background-color: white;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  z-index: 100; /* Einmalige Verwendung, sodass die Elemente mit Transform-Eigenschaft im Scroll-Event nicht über die Nav-Leiste hovern. */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
}

#logo {
  padding: 5px 20px;
}

#titel a {
  font-size: 3rem;
  margin-right: auto;
  font-family: "Italianno", cursive;
  text-decoration: none; /* Entfernung der Standard-Unterstreichung bei Links */
  color: inherit;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

nav ul li {
  display: inline-block;
}

nav ul li #titel {
  font-size: 1.8rem;
  color: #000;
}

nav a {
  text-decoration: none;
  font-size: 1.7rem;
  color: #555;
  font-weight: bold;
  padding: 5px 15px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #000;
  text-decoration: underline;
}

/* article styles */
article h1,
article h2 {
  text-shadow: #aaa 2px 2px 4px;
  margin: 40px 0;
}

article h1 {
  font-size: 3rem;
}

article h2 {
  font-size: 2.5rem;
}

article h3 {
  font-size: 1.8rem;
  text-align: center;
  text-decoration: underline;
}

.container-style {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

/* article: einleitung */
.einleitung-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  flex: 1;
  padding: 15px;
}

.einleitung-container p {
  margin: 20px;
  text-align: justify;
}

.image-round {
  border-radius: 50%;
}

#einleitung {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* article: architektur */
.architektur-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 15px;
  height: 350px;
}

.architektur-container img {
  border-radius: 15px;
}

.architektur-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#kirchen {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* article: landschaft */
#landschaft-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  height: 750px;
  width: 400px;
  transition: transform 0.5s ease;
}

#landschaft-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

/* article: kultur */
/* section: audio */
audio {
  width: 100%;
  max-width: 300px;
}

.audio-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 600px;
  padding: 20px;
}

.audio-info {
  flex: 1;
  margin-top: 20px;
}

#audio-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
  gap: 20px;
}

.instrument-icon {
  margin-left: 40px;
  transition: 0.3s ease;
}

.instrument-icon:hover {
  transform: scale(1.1);
}

/* section: PDF */
.download-section {
  margin-top: 50px;
  text-align: center;
}

.download-button {
  display: inline-block;
  color: #000;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: 0.3s ease;
}

.download-button:hover {
  background-color: #ffafb3;
}

.download-button:hover,
.grid-item:hover {
  transform: scale(1.02);
}

/* article: kulinarik */
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.grid-item img {
  width: 100%; /* Füllt die Grid-Zelle vollständig */
  height: 100%; /* Bild bleibt quadratisch */
  object-fit: cover; /* Schneidet das Bild zu, um es quadratisch zu halten */
  border-radius: 10px; /* Leichte Abrundung der Bilder */
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Drei Spalten mit gleichmäßiger Verteilung */
  grid-template-rows: repeat(
    3,
    1fr
  ); /* Drei Zeilen mit gleichmäßiger Verteilung */
  gap: 20px; /* Abstand zwischen den Zellen */
  width: 100%; /* Nimmt die gesamte Breite des parent containers ein */
  margin: 0 auto; /* Zentriert den Grid-Container */
  box-sizing: border-box; /* Verhindert, dass das Padding den Inhalt überlappt */
}
/* Canvas */
#pizza-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pizzaCanvas {
  width: 100%; /* Das Canvas passt sich der Grid-Item-Größe an */
  height: 100%; /* Die Höhe wird proportional zur Breite angepasst */
}

#pizza-container:hover {
  animation: spin 2s linear infinite; /* Endlose 360-Grad-Drehung */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
