
.land {
    fill: red;
    stroke: red;
    stroke-width: 1px; / Randbreite /
    transition: fill 0.3s; / Weicher Übergang bei Hover /
  }
  .land:hover {
    fill: black;
    stroke: blue;
    cursor: pointer;
  }

.st0{fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
	.st1{font-family:'Roboto-Regular';}
	.st2{font-size:14px;}