@font-face {
  font-family: "Akbar";
  src: url("assets/fonts/akbar/akbar.ttf");
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  display: none;
}

h1 {
  position: absolute;
  margin: 0;
  top: 10px;
  left: 100px;
  font-family: "Akbar", sans-serif;
  font-size: 4.5rem;
  text-align: center;
  line-height: 1;
}

#simpsons-couch {
  position: relative;
  background-image: url(assets/pictures/simpsons_couch_1920x1080.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#niklas-link,
#sonja-link,
#dimi-link,
#lukas-link,
#noah-link {
  position: absolute;
  height: 150px;
  width: 150px;
}

#niklas-link {
  top: 75px;
  right: 525px;
}

#sonja-link {
  top: 100px;
  right: 700px;
}

#dimi-link {
  top: 100px;
  left: 675px;
}

#lukas-link {
  top: 75px;
  left: 850px;
}

#noah-link {
  top: 400px;
  left: 450px;
}
