/*Base Farben

nach Paletton
darkest       RGB 020606
dark          RGB 0C2423
BASE:         RGB 164A48
light         RGB 1D7C78
ligthest      RGB 1FCBC4

/* Reset */
*{
	padding:0;
	margin:0;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 106px;
}

/* Element-selectors */
h1, h2, h3, p, label, a, input{
  font-family: "Manrope", sans-serif;
}


h1{
  font-size:1.6em;
  margin-bottom: 1em;
  font-weight: bold;
}
  
h2{
  font-size:1.4em;
  margin-bottom: 1em;
}
  
h3{
  font-size:1.2em;
  margin-bottom: 1em;
}

p{
  font-size: 1.1em;
  line-height: 1.8em;
  margin-bottom: 0.4em;
}

section{
  padding-bottom: 15px;
}

footer{
  text-align: center;
  padding: 1em;
  background: #020606;
  color: #FFF;
  background: linear-gradient(270deg,#020606 0%, #091b1b 60%, #0C2423 100%);
}

footer img{
  position: relative;
  top: 6px;
  right: 6px;
}


body {
  background-color:#FFF;
}

a{
  text-decoration:none;
}
a:link{
  color:#fff;
}
a:visited{
  color:#fff;
}


nav { 
  background: #020606;
  background: linear-gradient(90deg,#020606 0%, #091b1b 60%, #0C2423 100%);
  color: #FFF;
  padding: 35px;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav ul{
  padding-top: 10px; 
  text-align: right;
  margin-right: 10%;
}

nav li{
  list-style-type: none;
  display: inline;
  margin-left: 9em;
  font-size: 1.2em;
  font-weight: bold;
}




/* Class-selectors */

.background{
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px; /*VW anpassen*/
}
.background p{
  color: #FFF;
  text-align: center;
}

.foreground{
  background-color: rgba(255, 255, 255, 1);
  padding: 2% 6%;
  box-shadow: 0px 0 200px #000;
  border-radius: 5px;
  text-align: center;
}

.foreground h1 {
  font-size: 2.4em;
}
.foreground h2 {
  font-size: 1.6em;
}

.GallerieGridBild{
  box-shadow: 0px 0px 10px #000;
  border-radius: 10px;
  padding: 8px;
  
}

.GallerieGridBild figcaption{
  font-size: 2.1em;
  font-weight: 550;
  font-family: "Kolker Brush", cursive;
}

.FormInput{
  width: 100%;
  height: 2.3em;
  border-radius: 4px;
  border: #6d6a6a solid 1px;
  box-shadow: 0 0 2px #6d6a6a;
}

.GallerieBildgroup{
  max-width: 20%;
  margin: 0.7%;
  transition: transform 2s;
}
.GallerieBildgroup :hover{
  background-color: #FFF;
  transform: scale(1.1);
}
.GallerieBildgroup img:hover{
  transform: scale(1);
}

.GallerieBildgroup img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ID-selectors*/


#FormAnliegen{
  height: 5em;
  resize: none;
}


#foregroundform{
  min-height: 400px;
}

#Kontaktformular {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10% 0px;
  grid-auto-flow: row;
  justify-content: start;
  justify-items: stretch;
  grid-template-areas:
    "LabelName InputName InputName"
    "LabelMail InputMail InputMail"
    "LabelDatum InputDatum InputDatum"
    "LabelAnliegen InputAnliegen InputAnliegen"
    "Buttons Buttons Buttons";
  align-items: center;
  font-size: larger;
  text-align: left;
  font-weight: bold;
}

#Kontaktaufnahme{
  border: #6d6a6a solid 1px;
  box-shadow: 0 0 2px #6d6a6a;
  border-radius: 10px;
  background: radial-gradient(circle,  #1D7C78 0%, #164A48 70%, #0C2423 100%);
  color: #FFF;
  width: 300px;
  height: 50px;
  font-size: 1.3em;
}

#LabelName { 
  grid-area: LabelName; 
}

#DownloadPDF{
  margin-top: 30px;
}



#InputName { 
  grid-area: InputName; 
}

#LabelMail { 
  grid-area: LabelMail; 
}

#InputMail { 
  grid-area: InputMail; 
}

#LabelDatum { 
  grid-area: LabelDatum; 
}

#InputDatum { 
  grid-area: InputDatum;
  width: 110px; 
}

#LabelAnliegen { 
  grid-area: LabelAnliegen; 
}

#InputAnliegen { 
  grid-area: InputAnliegen; 
}

#Buttons { 
  grid-area: Buttons; 
  justify-self: center;
}

#Buttons input{
  padding: 2%;
}

#Gallerie{
  min-height: 98vw;
}

#Gallerie img{
  border-radius: 5px;
}

#BilderGallerieGrid {  
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:  100%;
}


#gridtext{
  grid-area: Text;
  margin-top: 10%;
}
#gridvideo{
  grid-area: Video;
  margin-left: 40%; 
}

#gridvideo video{
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
}

#welcome{
  background-color: rgba(29, 124, 120, 45%);
  border: 10px solid rgba(2, 6, 5, 15%);
  width: 30%;
  position: absolute;
  left: 35%;
  top: 32%;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 1.5em;
}

#welcome h1{
  font-size: 4em;
  margin-bottom: 0.3em;
}

#startcontent{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Text Text Text Video Video"; 
}

#backgroundImage1{
  background-image: url("assets/pictures/Hintergrund1_1747_1280.jpg");
  height: 850px;
}

#backgroundImage2{
  background-image: url("assets/pictures/Hintergrund2_1280_779.JPEG");
  height: 300px;
}

#backgroundImage3{
  background-image: url("assets/pictures/Hintergrund3_1280_957.JPEG");
  height: 300px;
}

#wrapper{
  margin-top: 0;
  width: 100%;
}

#logocanvas{
  margin-top: -25px;
  float: left;
  margin-right:1.2em ;
}

#headline{
  float: left;
}